
	<div class="header-customization">
			<div class="header-overlay">
				<h1>Customize your template</h1>
				<p>Be Creative</p>
			</div>
	</div>
	<!-- end of header-customization -->

<div class = "customization-cont">
	<div class="container">
					<div class="">
					        <p> Theme<p>
	                            <%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.collection_select :theme_id, @themes, :id, :name, {prompt: "Select a Theme"}, {class: "form-control"} %>
  							<% end %>
					</div>
					
					 <div class="">
			               <p> Nav-Bar<p>
	                            <%= form_for :customize , html: {method: "get"} do |f| %>
  								<%= f.collection_select :nav_bar_id, @nav_bars, :id, :id, {prompt: "Select a Nav-Bar"}, {class: "form-control"} %>
  								<% end %>
					 </div>
					
					 <div class="">
					       <p> Home Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.collection_select :home_section_id, @home_sections, :id, :id, {prompt: "Select a Home Section"}, {class: "form-control"} %>
  								<% end %>
					</div>

					<div class="">
					       <p> Catalogue Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.collection_select :catalogue_section_id, @catalogue_sections, :id, :id, {prompt: "Select a Catalogue Section"}, {class: "form-control"} %>
  								<% end %>
					</div>

					       <p> About Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.collection_select :about_section_id, @about_sections, :id, :id, {prompt: "Select an About Section"}, {class: "form-control"} %>
  								<% end %>
					</div>

					<div class="">
					       <p> Contact Us Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.collection_select :contact_us_section_id, @contact_us_sections, :id, :id, {prompt: "Select a Contact-us Section"}, {class: "form-control"} %>
  								<% end %>
					</div>
					<!-- end of col-md-5 -->
		<!-- end of container -->
   </div>
   <!-- end of customization-cont -->

	<div class="caption-custom-comp">
		<a href="#" class="btn btn-default">preview</a>
		<a href="#" class="btn btn-default">publish</a>
	</div>
	<!-- end of caption-custom-comp -->

    <iframe src="http://localhost:3000/template/show?id=1" width="100%" height="600"></iframe>

	<div class="container footer-cont">
			<p>Powered by <a href="#">Trustious</a></p>
    </div>
    <!-- end of container footer-cont -->







































