
	<div class="header-customization">
			<div class="header-overlay">
				<h1>Customize your template</h1>
				<p>Be Creative</p>
			</div>
	</div>
	<!-- end of header-customization -->

<div class = "customization-cont">
	<div class="container">
					<div class="">
					            <p> Theme<p>
	                            <%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.select :theme_id, options_for_select(@themes.collect { |theme| [theme.name.titleize, theme.id] }, 1), {}, { id: 'themes_select' } %>
  								<% end %>
					</div>
					
					 <div class="">
			               <p> Nav-Bar<p>
	                            <%= form_for :customize , html: {method: "get"} do |f| %>
  								<%= f.select :theme_id, options_for_select(@nav_bars.collect { |nav| [nav.id, nav.id] }, 1), {}, { id: 'navbar_select' } %>
  								<% end %>
					 </div>
					
					 <div class="">
					       <p> Home Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.select :theme_id, options_for_select(@home_sections.collect { |home_sec| [home_sec.id, home_sec.id] }, 1), {}, { id: 'home_select' } %>
  								<% end %>
					</div>

					<div class="">
					       <p> Catalogue Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.select :theme_id, options_for_select(@catalogue_sections.collect { |catalouge| [catalouge.id, catalouge.id] }, 1), {}, { id: 'catalogue_select' } %>
  								<% end %>
					</div>

					<div class="">
					       <p> About Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.select :theme_id, options_for_select(@about_sections.collect { |about_sec| [about_sec.id, about_sec.id] }, 1), {}, { id: 'about_select' } %>
  								<% end %>
					</div>

					<div class="">
					       <p> Contact Us Section<p>
								<%= form_for :customize, html: {method: "get"} do |f| %>
  								<%= f.select :theme_id, options_for_select(@themes.collect { |contact_us_sec| [contact_us_sec.id, contact_us_sec.id] }, 1), {}, { id: 'contact_select' } %>
  								<% end %>
					</div>
					<!-- end of col-md-5 -->
		<!-- end of container -->
   </div>
   <!-- end of customization-cont -->

	<div class="caption-custom-comp">
		<a href="#" class="btn btn-default">preview</a>
		<a href="#" class="btn btn-default">publish</a>
	</div>
	<!-- end of caption-custom-comp -->

    <iframe src="http://localhost:3000/template/show?id=1" width="100%" height="600"></iframe>

	<div class="container footer-cont">
			<p>Powered by <a href="#">Trustious</a></p>
    </div>
    <!-- end of container footer-cont -->







































