<!-- <ul id="og-grid" class="og-grid">
	<li>
			<a href="" data-largesrc=<%= image_path "20.jpg" %> data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
				<img src= <%= image_path "20.jpg" %> alt="img01" id="galleryThumbnail"/>
			</a>
	</li>
	<li>
			<a href="" data-largesrc=<%= image_path "21.jpg" %> data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
				<img src= <%= image_path "21.jpg" %> alt="img02" id="galleryThumbnail"/>
			</a>
	</li>
</ul> -->

<ul class="row">
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <img class="img-responsive" src=<%= image_path "20.jpg" %> description = "first picture">
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <img class="img-responsive" src=<%= image_path "21.jpg" %> description = "second picture">
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <img class="img-responsive" src=<%= image_path "22.jpg" %> description = "third picture">
            </li>
 </ul>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->