<% content_for :head do %>
  <%= stylesheet_link_tag 'template-2/css/main' , media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'template-2/app', 'data-turbolinks-track' => true  %>
<% end %>

  <!-- TODO this template should separate home and nav , all is in home till now -->

  <!-- Centre image and title -->
  <section id='home'>
    <%= render @home_section.html.to_s %>
  </section>
  <!-- end of #home -->

  <!-- about us section -->
  <section id="about_us">
    <%= render @about_us.html.to_s %>
  </section>
  <!-- end of about us -->

  <!-- catalogue section -->
  <section id="catalogue">
    <%= render @about_us.html.to_s %>
  </section>
  <!-- end of catalogue -->

  <!-- contact us section -->
  <section id="contact_us">
    <%= render @contact_us.html.to_s %>
  </section>
  <!-- end of contact us -->


  <footer class="footer-distributed">
    <%= render @footer.html.to_s %>
  </footer>
  <!-- end of footer -->
