<% content_for :head do %>
  <%= stylesheet_link_tag 'template-1/css/main' , media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'template-1/app', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'template-1/modernizr.custom', 'data-turbolinks-track' => true  %>
<% end %>
<div class="container">

  <%= render @nav.path.to_s %>

  <!-- Home Section -->
  <section id='home'>
    <%= render @home_section.path.to_s %>
  </section>
  <!-- end of section#home -->

  <hr>
  <!-- About Section -->
  <section class="section" id="about-section">
    <%= render @about_section.path.to_s %>
  </section>
  <!-- end of section -->
  <hr>
  <!-- Catalogue section -->
  <section class="section" id="catalogue-section">
    <%= render @catalogue_section.path.to_s %>
  </section>
  <hr>
  <!-- Contact us section -->
  <section class="section" id="contact-us-section">
    <%= render @contact_us_section.path.to_s %>
  </section>

  <footer>
    <%= render @footer.path.to_s %>
  </footer>
