  <div id ="catalogue">
    <h1 id ="catalogue_title">Catalogue</h1>
    <div id = "catalogue_div" >
      <div id = "catalogue_sub_div">
          <div class="row">
              <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1" id></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5" id>
                <%= image_tag "template-2/some-furn.jpg" , alt: "Cinque Terre" , :class => 'img-thumbnail' %>
                </div>
                <!-- end of col-md-3 -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-1">
                  <%= image_tag "template-2/some-furn.jpg" , alt: "Cinque Terre" , :class => 'img-thumbnail' %>
            </div>
            <!-- end of col-md-3 -->
              <div class="col-xs-0 col-sm-0 col-md-0 col-lg-5" id></div>
           </div>
           <!-- end of row -->
           <br>
         <div class="row">
              <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1" id></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5" id>
                <%= image_tag "template-2/some-furn.jpg" , alt: "Cinque Terre" , :class => 'img-thumbnail' %>
                </div>
                <!-- end of col-md-3 -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-1">
                  <%= image_tag "template-2/some-furn.jpg" , alt: "Cinque Terre" , :class => 'img-thumbnail' %>
            </div>
            <!-- end of col-md-3 -->
              <div class="col-xs-0 col-sm-0 col-md-0 col-lg-5" id></div>
           </div>
           <!-- end of row -->
         </div>
         <!-- end of catalogue_sub_div -->
       </div>
       <!-- end of catalogue_div -->
       <div class="row">
           <%= link_to "View full catalogue", controller: "template", action: "catalogue", id: 2 %>
       </div>
  </div>
  <!-- end of catalogue -->